{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

    <!--Main Slider-->
    <section class="main-slider" data-start-height="750" data-slide-overlay="yes">
    	
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    {% for banner in images %}
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="{{ asset('assets/images/main-slider/btech_img_1.jpg') }}"  data-saveperformance="off"  data-title="Awesome Title Here">
                            <img src="{{ asset('assets/images/main-slider/btech_img_1.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption sfl sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="-50"
                                 data-speed="1500"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn">
                                <h2 class="big-title">{{ banner.title }}</h2></div>

                            <div class="tp-caption sfl sfb tp-resizeme text"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="40"
                                 data-speed="1500"
                                 data-start="1000"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200">

                                <div  style="font-size:18px; color:#ffffff">{{ banner.description}}

                                </div>
                            </div>

                            <div class="tp-caption sfl sfb tp-resizeme"
                                 data-x="left" data-hoffset="15"
                                 data-y="center" data-voffset="110"
                                 data-speed="1500"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.3"
                                 data-endspeed="1200"
                                 data-endeasing="Power4.easeIn"><a href="about-us.html" class="theme-btn btn-style-one">Savoir plus</a> &ensp; <a href="contact.html" class="theme-btn btn-style-two">Nous Contacter</a></div>


                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </section>
    
    <!--About Title-->
    <section class="about-title">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="column col-md-4 col-sm-12 col-xs-12">
                	<h2>Now you <br> Can take your business <br> Good to great</h2>
                    <a href="about-us.html">More About Us</a>
                </div>
                <div class="column col-md-8 col-sm-12 col-xs-12">
                	<h3>Commune nominavi at ius, vix delectus deterruisset cu. Quis dico legendos dicta qsu pedit nam ne. Cibo debitis interpretaris et eum, ei augue rect quo.</h3>
                    <div class="text">Commune nominavi at ius, vix delectus deterruisset cu. Quis dico legendos ei ius, dictas peditern  nam ne. Cibo debitis interpretaris et eum, ei augue recteque quo. Ei cum modo fuger rcipit. At ferri inimicus voluptaria sit, tota nostro mediocrem sit in, ut impetus eripuit qsuemoriatur sed dsu estime ullum vivendo dissentiet, sea ut novum erroribus accommodare.</div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Title-->
    
    <!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="single-program.html"><img src="{{ asset('assets/images/resource/services-1.jpg') }}" alt="" /></a>
                            <div class="overlay-box">
                                <h3><a href="single-program.html">Sales & Marketing <br> Coaching</a></h3>
                                <a href="single-program.html" class="right-arrow fa fa-angle-right"></a>
                            </div>
                        </figure>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="single-program.html"><img src="{{ asset('assets/images/resource/services-2.jpg') }}" alt="" /></a>
                            <div class="overlay-box">
                                <h3><a href="single-program.html">Sales Negoation & <br> Cosultative</a></h3>
                                <a href="single-program.html" class="right-arrow fa fa-angle-right"></a>
                            </div>
                        </figure>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <a href="single-program.html"><img src="{{ asset('assets/images/resource/services-3.jpg') }}" alt="" /></a>
                            <div class="overlay-box">
                                <h3><a href="single-program.html">Advisor & Training <br> Coaching</a></h3>
                                <a href="single-program.html" class="right-arrow fa fa-angle-right"></a>
                            </div>
                        </figure>
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>
    <!--End Services Section-->
    
    <!--Program Section-->
    <section class="program-section">
    	<div class="auto-container">
        
        	<!--Title Box-->
        	<div class="title-box clearfix">
            	<h3>We Offer Bunce of Training & Coaching Program!!</h3>
                <a href="training.html">View All Programs</a>
            </div>
            
            <div class="row clearfix">
            
            	<!--Program Block-->
            	<div class="program-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                    	<h3><a href="single-program.html">Training Coach</a></h3>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                    </div>
                </div>
                
                <!--Program Block-->
            	<div class="program-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                    	<h3><a href="single-program.html">Sales Negotiation</a></h3>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                    </div>
                </div>
                
                <!--Program Block-->
            	<div class="program-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                    	<h3><a href="single-program.html">Advisor Training</a></h3>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                    </div>
                </div>
                
                <!--Program Block-->
            	<div class="program-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                    	<h3><a href="single-program.html">Consultative Selling</a></h3>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                    </div>
                </div>
                
                <!--Program Block-->
            	<div class="program-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                    	<h3><a href="single-program.html">Sells Coaching</a></h3>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                    </div>
                </div>
                
                <!--Program Block-->
            	<div class="program-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                    	<h3><a href="single-program.html">High Selling</a></h3>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End Program Section-->
    
    <!--Video Section-->
    <section class="video-section" style="background-image: url({{ asset('assets/images/background/1.jpg') }})">
    	<div class="auto-container">
            <div class="inner-box">
                <a class="icon-box wow zoomInStable lightbox-image play-link" data-wow-delay="0ms" data-wow-duration="2000ms"  href="https://www.youtube.com/watch?v=1sVEYNH8gbk"><span class="flaticon-arrow"></span></a>
                <h3>Check Our Intro Video</h3>
                <div class="text">Lorem ipsum dolor sit amtiamiu accusam vim, nemore elaboraro nam ad tota habeo dus. </div>
                <a href="about-us.html" class="btn-style-one theme-btn">More About Us</a>
            </div>
        </div>
    </section>
    <!--End Video Section-->
    
    <!--Counter Section-->
    <section class="counter-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="image-column col-lg-5 col-md-4 col-sm-12 col-xs-12">
                	<figure class="image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<img src="{{ asset('assets/images/resource/couch-image.png') }}" alt="" />
                    </figure>
                </div>
                <div class="content-column col-lg-7 col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<h2>How Business Coacing <br> Can Help you?</h2>
                        <div class="style-text">We have lot of great service that can enough to hlep you</div>
                        <div class="text">Lorem ipsum dolor sit amet, dolor dignis pri. Erant percipit imper diet <br> te. Et eum brute nulla novum admuo us dummy text. </div>
                        
                        <!--Fact Counter-->
                        <div class="fact-counter">
                            <div class="row clearfix">
                            
                                <!--Counter Column-->
                                <div class="column col-md-4 col-sm-4 col-xs-12 counter-column wow fadeIn" data-wow-duration="0ms">
                                    <div class="inner">
                                        <div class="count-outer">
                                            <div class="count-text" data-speed="2000" data-stop="18">0</div><span class="year">years</span>
                                        </div>
                                        <h4 class="counter-title">Expereince</h4>
                                    </div>
                                </div>
                                
                                <!--Counter Column-->
                                <div class="column col-md-4 col-sm-4 col-xs-12 counter-column wow fadeIn" data-wow-duration="0ms">
                                    <div class="inner">
                                        <div class="count-outer">
                                            <div class="count-text" data-speed="2000" data-stop="20">0</div><span class="year">K</span>
                                        </div>
                                        <h4 class="counter-title">Happy Client</h4>
                                    </div>
                                </div>
                                
                                <!--Counter Column-->
                                <div class="column col-md-4 col-sm-4 col-xs-12 counter-column wow fadeIn" data-wow-duration="0ms">
                                    <div class="inner">	
                                        <div class="count-outer">
                                            <div class="count-text" data-speed="4000" data-stop="1200">0</div><span class="plus-icon">+</span>
                                        </div>
                                        <h4 class="counter-title">Project Done</h4>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <a href="contact.html" class="theme-btn btn-style-three">Get a Quote</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Counter Section-->
    
    <!--Fullwidth Section One-->
    <section class="fullwidth-section-one" style="background-image: url({{ asset('assets/images/resource/fullwidth-1.jpg') }});">
    	<div class="outer-box clearfix">
        
        	<!--left column-->
        	<div class="left-column clearfix">
            	<div class="content-box clearfix">
                	<div class="inner-box">
                    	<h3>Why Choose Us?</h3>
                        <h4>Here will some subtitle what you want to</h4>
                        <div class="text">Lorem ipsum dolor sit amtiamiu accusa vim, nemo dsu elraro nam ad tota habo dus no ellmoti. Nostro sapin ei tem elluri. Facete doct molesti percit.</div>
                        <a href="about-us.html" class="theme-btn btn-style-one">Learn More</a>
                    </div>
                </div>
            </div>
            
            <!--right column-->
            <div class="right-column">
            	<div class="services-outer">
                	<div class="clearfix">
                    
                    	<!--Services Block Two-->
                        <div class="services-block-two col-md-6 col-sm-6 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon-box"><span class="icon flaticon-high-volume"></span></div>
                                
                                <h3>Expert Coach Trainer</h3>
                                <div class="text">Lorem ipsum dolor sit amet, dolor pr. Erant percipit imper brute nulla novum admuo us dummy text amet dolo.</div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="services-block-two col-md-6 col-sm-4 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon-box"><span class="icon flaticon-money-bag"></span></div>
                                <h3>Worth Every Penny</h3>
                                <div class="text">Lorem ipsum dolor sit amet, dolor pr. Erant percipit imper brute nulla novum admuo us dummy text amet dolo.</div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="services-block-two col-md-6 col-sm-4 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon-box"><span class="icon flaticon-rocket"></span></div>
                                <h3>Multi Times Award Winner</h3>
                                <div class="text">Lorem ipsum dolor sit amet, dolor pr. Erant percipit imper brute nulla novum admuo us dummy text amet dolo.</div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="services-block-two col-md-6 col-sm-4 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon-box"><span class="icon flaticon-umbrella"></span></div>
                                <h3>Trusted Company</h3>
                                <div class="text">Lorem ipsum dolor sit amet, dolor pr. Erant percipit imper brute nulla novum admuo us dummy text amet dolo.</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Fullwidth Section One-->
    
    <!--Team Section-->
    <section class="team-section">
    	<div class="auto-container">
        	<h2>Our Expert</h2>
            <div class="three-item-carousel">
            
            	<!--Team Member-->
                <div class="team-member">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="{{ asset('assets/images/team/paul_ghislain.png') }}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Jannatul Ferdous</a></h3>
                            <div class="designation">Business & Marketing Expert</div>
                            <div class="text">Neque porro quisquam dolorem utn ipsum quia dolormet consectet dsu adipisci velit, sed ut quia.</div>
                            <a href="#" class="see-profile">See Profile</a>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
                <div class="team-member">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="{{ asset('assets/images/team/igor_gamath.jpg') }}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Rashed Kabir</a></h3>
                            <div class="designation">Business & Marketing Expert</div>
                            <div class="text">Neque porro quisquam dolorem utn ipsum quia dolormet consectet dsu adipisci velit, sed ut quia.</div>
                            <a href="#" class="see-profile">See Profile</a>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
                <div class="team-member">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="{{ asset('assets/images/team/christ_celin.PNG') }}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Jonathan Smith</a></h3>
                            <div class="designation">Business & Marketing Expert</div>
                            <div class="text">Neque porro quisquam dolorem utn ipsum quia dolormet consectet dsu adipisci velit, sed ut quia.</div>
                            <a href="#" class="see-profile">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Experts Section-->
    
    <!--Fullwidth Section Two-->
    <section class="fullwidth-section-two">
    	<div class="outer-box clearfix">
        	<!--Left Column-->
        	<div class="left-column clearfix">
            	<div class="content-box clearfix">
                	<div class="inner-box">
                    	<h2>CLient Feedback</h2>
                        <h3>Dont only hear us, But also check our clinet feedabck</h3>
                        <div class="single-item-carousel">
                        
                        	<!--Testimonial Block-->
                            <div class="testimonial-block">
                            	<div class="inner">
                                	<div class="text">Lorem ipsum dolor sit amet, et ullum epicuri quo. Usu di pertina antiopam amet modera tius fuqe denique medi ocrem voluptau duo eius lorem ut eos lorem amet dolo ipsum sudu. No singulis postulant his, per decore elaboraret sadipscing te. </div>
                                    <div class="client-info">
                                    	<div class="image"><img src="{{ asset('assets/images/resource/client-1.jpg') }}" alt="" /></div>
                                        <h4>Rashed kabir</h4>
                                        <div class="designation">Managing Director of Bata</div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Testimonial Block-->
                            <div class="testimonial-block">
                            	<div class="inner">
                                	<div class="text">Lorem ipsum dolor sit amet, et ullum epicuri quo. Usu di pertina antiopam amet modera tius fuqe denique medi ocrem voluptau duo eius lorem ut eos lorem amet dolo ipsum sudu. No singulis postulant his, per decore elaboraret sadipscing te. </div>
                                    <div class="client-info">
                                    	<div class="image"><img src="{{ asset('assets/images/resource/client-1.jpg') }}" alt="" /></div>
                                        <h4>Rashed kabir</h4>
                                        <div class="designation">Managing Director of Bata</div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Testimonial Block-->
                            <div class="testimonial-block">
                            	<div class="inner">
                                	<div class="text">Lorem ipsum dolor sit amet, et ullum epicuri quo. Usu di pertina antiopam amet modera tius fuqe denique medi ocrem voluptau duo eius lorem ut eos lorem amet dolo ipsum sudu. No singulis postulant his, per decore elaboraret sadipscing te. </div>
                                    <div class="client-info">
                                    	<div class="image"><img src="{{ asset('assets/images/resource/client-1.jpg') }}" alt="" /></div>
                                        <h4>Rashed kabir</h4>
                                        <div class="designation">Managing Director of Bata</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Right Column-->
            <div class="right-column">
            	<div class="form-outer">
                	<h2>Request a call back</h2>
                	<div class="clearfix">
                    	<!--Default Form-->
                    	<div class="default-form">
                            <form method="post">
                                <div class="row clearfix">
        
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="group-inner">
                                            <input type="text" name="username" value="" placeholder="Username *" required>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="group-inner">
                                            <input type="email" name="email" value="" placeholder="Email Address *" required>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="group-inner">
                                            <input type="text" name="subject" placeholder="Subject" required>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="group-inner">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one">SEND Now</button>
                                    </div>
                                </div>
                            </form>
                    	</div>
                    	<!--End Default Form-->
					</div>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Fullwidth Section One-->
    
    <!--News Section-->
    <section class="news-section">
    	<div class="auto-container">
        	<div class="title-box">
            	<h2>Latest News</h2>
            </div>
            
            <div class="row clearfix">
            	<div class="left-column col-md-8 col-sm-12 col-xs-12">
                	
                    <div class="two-item-carousel">
                    
                        <!--News Block-->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-1.jpg') }}" alt="" /></a>
                                </div>
                                <div class="lower-content">
                                    <div class="date">13 Feb, 2016  /  Business</div>
                                    <h3><a href="blog-single.html">How to become a best sales marketer in a year</a></h3>
                                    <div class="text">Lorem ipsum dolor sit amet qu modo expeten dis reformidans,appetere sententiae.. </div>
                                    <a href="blog-single.html" class="read-more">Read More</a>
                                </div>
                                
                            </div>
                        </div>
                    
                        <!--News Block-->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-2.jpg') }}" alt="" /></a>
                                </div>
                                <div class="lower-content">
                                    <div class="date">13 Feb, 2016  /  Business</div>
                                    <h3><a href="blog-single.html">How to become a best sales marketer in a year</a></h3>
                                    <div class="text">Lorem ipsum dolor sit amet qu modo expeten dis reformidans,appetere sententiae.. </div>
                                    <a href="blog-single.html" class="read-more">Read More</a>
                                </div>
                                
                            </div>
                        </div>
                        
                        <!--News Block-->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-1.jpg') }}" alt="" /></a>
                                </div>
                                <div class="lower-content">
                                    <div class="date">13 Feb, 2016  /  Business</div>
                                    <h3><a href="blog-single.html">How to become a best sales marketer in a year</a></h3>
                                    <div class="text">Lorem ipsum dolor sit amet qu modo expeten dis reformidans,appetere sententiae.. </div>
                                    <a href="blog-single.html" class="read-more">Read More</a>
                                </div>
                                
                            </div>
                        </div>
                    
                        <!--News Block-->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-2.jpg') }}" alt="" /></a>
                                </div>
                                <div class="lower-content">
                                    <div class="date">13 Feb, 2016  /  Business</div>
                                    <h3><a href="blog-single.html">How to become a best sales marketer in a year</a></h3>
                                    <div class="text">Lorem ipsum dolor sit amet qu modo expeten dis reformidans,appetere sententiae.. </div>
                                    <a href="blog-single.html" class="read-more">Read More</a>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Right Column-->
                <div class="right-column col-md-4 col-sm-12 col-xs-12">
                
                	<!--News Block Two-->
                	<div class="news-block-two">
                    	<div class="inner-box">
                        	<div class="image"><a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-thumb-1.jpg') }}" alt="" /></a></div>
                            <h3><a href="blog-single.html">How business proffesioanl work for client</a></h3>
                            <div class="date">13 Feb, 2016  /  Business</div>
                        </div>
                    </div>
                    
                    <!--News Block Two-->
                	<div class="news-block-two">
                    	<div class="inner-box">
                        	<div class="image"><a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-thumb-2.jpg') }}" alt="" /></a></div>
                            <h3><a href="blog-single.html">How business proffesioanl work for client</a></h3>
                            <div class="date">13 Feb, 2016  /  Business</div>
                        </div>
                    </div>
                    
                    <!--News Block Two-->
                	<div class="news-block-two">
                    	<div class="inner-box">
                        	<div class="image"><a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-thumb-1.jpg') }}" alt="" /></a></div>
                            <h3><a href="blog-single.html">Why radious co is the best in today’s market</a></h3>
                            <div class="date">13 Feb, 2016  /  Business</div>
                        </div>
                    </div>
                    
                    <!--News Block Two-->
                	<div class="news-block-two">
                    	<div class="inner-box">
                        	<div class="image"><a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-thumb-3.jpg') }}" alt="" /></a></div>
                            <h3><a href="blog-single.html">How business proffesioanl work for client</a></h3>
                            <div class="date">13 Feb, 2016  /  Business</div>
                        </div>
                    </div>
                    
                    <!--News Block Two-->
                	<div class="news-block-two">
                    	<div class="inner-box">
                        	<div class="image"><a href="blog-single.html"><img src="{{ asset('assets/images/resource/news-thumb-1.jpg') }}" alt="" /></a></div>
                            <h3><a href="blog-single.html">Why radious co is the best in today’s market</a></h3>
                            <div class="date">13 Feb, 2016  /  Business</div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End News Section-->
    
    <!--Map Section-->
    <section class="map-section">
    	<div class="map-outer">
			<!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="13"
                data-lat="-37.817085"
                data-lng="144.955631"			  
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Envato"
                data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"							
                style="height: 450px;">
            </div>

        </div>
    </section>
{% endblock %}
